<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale:1.5">
    <title>Enlaces de interés</title>
    <meta name="keywords" content="Clinica veterinaria de rehabilitación, fisioterapia  para perros y gatos, especializados en rehabilitación veterinaria">
    <meta name="description" content="Clinica veterinaria especializada en rehabilitación para perros y gatos">
    <meta name="owner" content="AleGM">
    <meta name="author" content="AleGM">
    <meta name=”robots” content=”index,follow”> 
    
    <script src="../js/modernizr-custom.js"></script>

    <link rel="stylesheet" href="../css/normalize_style.css">
    <link rel="stylesheet" href="../assets/icons/icomoon/IcomoonStyle.css">
    <link rel="stylesheet" href="../assets/fonts/Jura/">
    <link rel="stylesheet" href="../assets/fonts/Onest/">
    <link rel="stylesheet" href="../assets/fonts/Parkinsans/">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/png" href="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png">
</head>
<body>
    
<header>

    <div class="hero">
        <figure class="hero_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>PNG de es.pngtree.com</span></figure>
        <h1>RehabilitaVet</h1>
    </div>

   <nav id="ioMenu">
        <figure id="showMenu" class="ioMenuMovil" onclick="displayMenu('prev')"><img src="../assets/icons/pet_9627651.png" alt="imagen de silueta de huella de perro para el menu" width="512" height="512"></figure>

        <div id="card_menu">
            <figure id="hideMenu" class="ioMenuMovil" onclick="displayMenu('next')"><img src="../assets/icons/close_8847679.png" alt="imagen salida menu forma de equis en color azul" width="512" height="512"></figure>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tecnicas_de_rehabilitacion.html">Técnicas de rehabilitación</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="localizacion_y_contacto.html">Localización y Contacto</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="#" class="active">Enlaces de interés</a></li>
                <li><a href="privacidad_datos.html">Privacidad de datos</a></li>
                
            </ul>
        </div>
    </nav>
</header>

<main>
    <section id="sec_interes">
        <h2 class="titulo_h">Enlaces de interés.</h2>
        
        <section class="sec_urgencias">
            <figure><img src="../assets/icons/hospital_6374758.png" alt="lotipo de hospital color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Urgencias veterinarias.</h3>
            
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Hospital Veterinario 1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Hospital veterinario 2.</a></li>
                
            </ul>
        </section>

        <section class="sec_traumatologia">
            <figure><img src="../assets/icons/medical-report_6374905.png" alt="logotipo de informe veterinario color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Clínicas veterinarias especializadas en traumatología.</h3>
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica traumatología  1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica traumatología 2.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica traumatología 3.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica traumatología 4.</a></li>
                
            </ul>
        </section>

           <section class="sec_protesis">
            <figure><img src="../assets/icons/healthcare_7095430.png" alt="logotipo de informe veterinario color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Centros protésicos veterinarios.</h3>
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica protésica  1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica protésica 2.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica protésica 3.</a></li>
                                
            </ul>
        </section>

        <section class="sec_clinicas">
            <figure><img src="../assets/icons/stethoscope_6374745.png" alt="logotipo de estoscopio color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Clínicas veterinarias generalistas.</h3>
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 2.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 3.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 4.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 5.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Clínica veterina 6.</a></li>
                
            </ul>
        </section>

        <section class="sec_farmacias">
            <figure><img src="../assets/icons/medicine_6374813.png" alt="logotipo de medicamento color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Farmacias veterinarias.</h3>
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Farmacia 1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Farmacia 2.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Farmacia 3.</a></li>                
                
            </ul>
        </section>

        <section class="sec_protectoras">
            <figure><img src="../assets/icons/pet_9627651.png" alt="logotipo huella de perro color azul" width="512" height="512"></figure>
            <h3 class="titulo_medio">Protectoras y centros de adopoción.</h3>
            <ul>
                
                <li><a href="#" target="_blank" rel="noopener noreferrer">Protectora 1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Protectora 2.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Centro de adopción 1.</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Centro de adopción 2.</a></li>
                
            </ul>
        </section>

    </section>

    <div class="flecha_top">
            <a href="#">
                <img src="../assets/icons/down-right-arrow_5548720.png" alt="flecha para volver incio web" title="flecha volver inicio web" width="512" height="512">
            </a>
    </div>

</main>



<footer>
    <div class="footer_container">
        <div class="footer_datos">  
            <figure class="footer_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>Imagen PNG de es.pngtree.com</span></figure>
            <h1>RehabilitaVet</h1>   
            <ul>                     
                <li>Calle ggggggggg, nº X, cp/xxxxx, Ssssssss.</li>
                <li>91-000-00-00  / 600-00-00-00</li>
                <li>contacto@recuperavet.com</li>
            </ul>            
        </div>

        <div class="privacity_footer">
            <ul>
                <li>&#169; 2025 All rights reserved</li>
                <li><a class="privacity" href="../documents/politicaPrivacidadDatos.doc" target="_blank" rel="noopener noreferrer"> Privacity policy</a></li>
            </ul>        
        </div>
        
    <div class="rrss">
            <h3 class="titulo_rrss">Puedes encontrarnos en:</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" ><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><span class="icon-x"></span></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
            </ul>
        </div>

    </div>
</footer>

<script src="../js/javascript.js"></script>t
<!--google analytics-->
</body>
</html>