<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale:1.5">
    <title>Error 404 RehabilitaVet</title>
    <meta name="keywords" content="Clinica veterinaria de rehabilitación, fisioterapia  para perros y gatos, especializados en rehabilitación veterinaria">
    <meta name="description" content="Clinica veterinaria especializada en rehabilitación para perros y gatos">
    <meta name="owner" content="AleGM">
    <meta name="author" content="AleGM">
    <meta name=”robots” content=”index,follow”/> 
    <script src="/js/modernizr-custom.js"></script>

    <link rel="stylesheet" href="/css/normalize_style.css">
    <link rel="stylesheet" href="/assets/icons/icomoon/IcomoonStyle.css">
    <link rel="stylesheet" href="/assets/fonts/Jura/">
    <link rel="stylesheet" href="/assets/fonts/Onest/">
    <link rel="stylesheet" href="/assets/fonts/Parkinsans/">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png">
</head>
<body>
      
<header>
    
    <div class="hero">
        <figure class="hero_logo"><img src="/assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>PNG de es.pngtree.com</span></figure>
        <h1>RehabilitaVet</h1>
   </div>

   <nav id="ioMenu">
        <figure id="showMenu" class="ioMenuMovil" onclick="displayMenu('prev')"><img src="/assets/icons/pet_9627651.png" alt="imagen de silueta de huella de perro para el menu" width="512" height="512"></figure>

        <div id="card_menu">
            <figure id="hideMenu" class="ioMenuMovil" onclick="displayMenu('next')"><img src="/assets/icons/close_8847679.png" alt="imagen salida menu forma de equis en color azul" width="512" height="512"></figure>
            <ul>
                <li><a href="#" class="active">Inicio</a></li>
                <li><a href="tecnicas_de_rehabilitacion.html">Técnicas de rehabilitación</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="localizacion_y_contacto.html">Localización y Contacto</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="enlaces_de_interes.html">Enlaces de interés</a></li>
                <li><a href="privacidad_datos.html">Privacidad de datos</a></li>

                
                                
            </ul>
        </div>
    </nav>
</header>


<main>
    <section id="sec_error">

        <h2 class="titulo_error">OOPPPPSSSSS!!!!!! Lo sentimos, página no encontrada</h2>

        <div class="imagen_error">
        <figure><img src="../assets/images/vecteezy_cute-ladybug-peeking-through-a-hole_49466392.jpg" alt="Imagen de un perro asomando la cabeza tras una pared de papel" width="5824" height="3264"><span class="autoria_error">Ai Stock photos by Vecteezy</span></figure>
        </div>

         <h3 class="titulo_error_abajo">ERROR 404.</h3>

    </section>

    <div class="flecha_top">
            <a href="#">
                <img src="/assets/icons/down-right-arrow_5548720.png" alt="flecha para volver incio web" title="flecha volver inicio web" width="512" height="512">
            </a>
    </div>

</main>


<footer>
    <div class="footer_container">
        <div class="footer_datos">  
            <figure class="footer_logo"><img src="/assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>Imagen PNG de es.pngtree.com</span></figure>
            <h1>RehabilitaVet</h1>   
            <ul>                     
                <li>Calle ggggggggg, nº X, cp/xxxxx, Ssssssss.</li>
                <li>91-000-00-00  / 600-00-00-00</li>
                <li>contacto@recuperavet.com</li>
            </ul>            
        </div>

        <div class="privacity_footer">
            <ul>
                <li>&#169; 2025 All rights reserved</li>
                <li><a class="privacity" href="/documents/politicaPrivacidadDatos.doc" target="_blank" rel="noopener noreferrer"> Privacity policy</a></li>
            </ul>        
        </div>
    
       <div class="rrss">
            <h3 class="titulo_rrss">Puedes encontrarnos en:</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" ><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><span class="icon-x"></span></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
            </ul>
        </div>

    </div>
</footer>

<script src="/js/javascript.js"></script>
<!--google analytics-->

</body>
</html>