<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale:1.5">
    <title>Portfolio</title>
    <meta name="keywords" content="Clinica veterinaria de rehabilitación, fisioterapia  para perros y gatos, especializados en rehabilitación veterinaria">
    <meta name="description" content="Clinica veterinaria especializada en rehabilitación para perros y gatos">
    <meta name="owner" content="AleGM">
    <meta name="author" content="AleGM">
    <meta name=”robots” content=”index,follow”> 
    <script src="../js/modernizr-custom.js"></script>

    <link rel="stylesheet" href="../css/normalize_style.css">
    <link rel="stylesheet" href="../assets/icons/icomoon/IcomoonStyle.css">
    <link rel="stylesheet" href="../assets/fonts/Jura/">
    <link rel="stylesheet" href="../assets/fonts/Onest/">
    <link rel="stylesheet" href="../assets/fonts/Parkinsans/">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png">
</head>
<body>
      
<header>
    
   <div class="hero">
        <figure class="hero_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>PNG de es.pngtree.com</span></figure>
        <h1>RehabilitaVet</h1>
   </div>

   <nav id="ioMenu">
        <figure id="showMenu" class="ioMenuMovil" onclick="displayMenu('prev')"><img src="../assets/icons/pet_9627651.png" alt="imagen de silueta de huella de perro para el menu" width="512" height="512"></figure>

        <div id="card_menu">
            <figure id="hideMenu" class="ioMenuMovil" onclick="displayMenu('next')"><img src="../assets/icons/close_8847679.png" alt="imagen salida menu forma de equis en color azul" width="512" height="512"></figure>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="views/tecnicas_de_rehabilitacion.html">Técnicas de rehabilitación</a></li>
                <li><a href="#" class="active">Portfolio</a></li>
                <li><a href="views/localizacion_y_contacto.html">Localización y Contacto</a></li>
                <li><a href="views/presupuesto.html">Presupuesto</a></li>
                <li><a href="views/enlaces_de_interes.html">Enlaces de interés</a></li>
                <li><a href="views/privacidad_datos.html">Privacidad de datos</a></li>

                
            </ul>
        </div>
    </nav>
</header>

<main>
    <section id="portfolio">

        <div class="titulo_galeria">
            <h2 class="titulo_h">Galería de imágenes de nuestras instalaciones.</h2>
        </div>

        <div id="galeria">
            
            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_353229186.jpeg" alt="Imagen de máquina de TAC" width="6000" height="4000"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_186833707.jpeg" alt="Resultados de un escáner" width="5662" height="4000"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_283980234.jpeg" alt="Gato en consulta de valoración junto con un veterinario" width="5874" height="3916"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

             <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_252116331.jpeg" alt="Realizando radiografía a un gato" width="3000" height="2000"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/acercamiento-al-medico-veterinario-cuidando-la-mascota_2.jpg" alt="Auxiliar técnico veterinario posicionando a un gato para realizar una radiografía" width="6000" height="4000"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_439104026.jpeg" alt="Veterinarioy auxiliar veterinario realizando ecografía a un perro" width="5616" height="3744"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_941229953.jpeg" alt="Técnico de laboratorio analizando una muestra" width="6000" height="4000"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/cerca-de-veterinario-cuidando-perro.jpg" alt="Auxliar veterinario tomando una muestra de sangre de un paciente" width="6048" height="4024"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/perro-de-secado-de-manos-de-cerca.jpg" alt="Paciente canino siendo secado después de una sesión de hidroterapia." width="4160" height="5200"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_143619960.jpeg" alt="Paciente felino siendo vendado en consulta por un traumatólogo" width="5616" height="3744"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/cerca-del-escritorio-de-laboratorio-con-equipo-de-investigacion.jpg" alt="Imagen de muestras de sangre de pacientes en el laboratorio para ser analizadas" width="5314" height="3543"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_1224777047.jpeg" alt="Veterinario compartiendo los resultados de las pruebas de un gato con su dueño" width="8256" height="5504"><span class="autoria_portfolio">“Imagen de AdobeStock”</span> 
                    </figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_488605233.jpeg" alt="Imagen de una de nuestras consultas" width="6012" height="4013"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/cerrar-doctor-revisando-el-vientre-del-gato.jpg" alt="Veterinario y auxiliar técnico veterinario realizando una ecografía abdominal a paciente felino" width="7900" height="5267"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/veterinario-cuidando-perro-mascota.jpg" alt="Imagen de paciente canino en una consulta de valoración." width="3439" height="5159"><span class="autoria_portfolio">“Diseñado por Freepik”</span></figure>
            </div>

            <div class="galeria_item">
                <figure class="sec_porfolio"><img src="../assets/images/AdobeStock_196169230.jpeg" alt="Paciente canino durante una sesión de fisioterapia" width="5568" height="3712"><span class="autoria_portfolio">“Imagen de AdobeStock”</span></figure>
            </div>
        
        </div>  

    </section>
    
    <div class="flecha_top">
            <a href="#">
                <img src="../assets/icons/down-right-arrow_5548720.png" alt="flecha para volver incio web" title="flecha volver inicio web" width="512" height="512">
            </a>
    </div>

</main>


<footer>
    <div class="footer_container">
        <div class="footer_datos">  
            <figure class="footer_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>Imagen PNG de es.pngtree.com</span></figure>
            <h1>RehabilitaVet</h1>   
            <ul>                     
                <li>Calle ggggggggg, nº X, cp/xxxxx, Ssssssss.</li>
                <li>91-000-00-00  / 600-00-00-00</li>
                <li>contacto@recuperavet.com</li>
            </ul>            
        </div>

        <div class="privacity_footer">
            <ul>
                <li>&#169; 2025 All rights reserved</li>
                <li><a class="privacity" href="../documents/politicaPrivacidadDatos.doc" target="blank" rel="noopener noreferrer"> Privacity policy</a></li>
            </ul>        
        </div>
    
        <div class="rrss">
            <h3 class="titulo_rrss">Puedes encontrarnos en:</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" ><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><span class="icon-x"></span></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
            </ul>
        </div>

    </div>
</footer>

<script src="../js/javascript.js"></script>
<!--google analytics-->

</body>
</html>