<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale:1.5">
    <title>Presupuesto</title>
    <meta name="keywords" content="Clinica veterinaria de rehabilitación, fisioterapia  para perros y gatos, especializados en rehabilitación veterinaria">
    <meta name="description" content="Clinica veterinaria especializada en rehabilitación para perros y gatos">
    <meta name="owner" content="AleGM">
    <meta name="author" content="AleGM">
    <meta name=”robots” content=”index,follow”> 
    <script src="../js/modernizr-custom.js"></script>

    <link rel="stylesheet" href="../css/normalize_style.css">
    <link rel="stylesheet" href="../assets/icons/icomoon/IcomoonStyle.css">
    <link rel="stylesheet" href="../assets/fonts/Jura/">
    <link rel="stylesheet" href="../assets/fonts/Onest/">
    <link rel="stylesheet" href="../assets/fonts/Parkinsans/">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png">
</head>
<body>
      
<header>
    
    <div class="hero">
        <figure class="hero_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>PNG de es.pngtree.com</span></figure>
        <h1>RehabilitaVet</h1>
   </div>

   <nav id="ioMenu">
        <figure id="showMenu" class="ioMenuMovil" onclick="displayMenu('prev')"><img src="../assets/icons/pet_9627651.png" alt="imagen de silueta de huella de perro para el menu" width="512" height="512"></figure>

        <div id="card_menu">
            <figure id="hideMenu" class="ioMenuMovil" onclick="displayMenu('next')"><img src="../assets/icons/close_8847679.png" alt="imagen salida menu forma de equis en color azul" width="512" height="512"></figure>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tecnicas_de_rehabilitacion.html">Técnicas de rehabilitación</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="localizacion_y_contacto.html">Localización y Contacto</a></li>
                <li><a href="#" class="active">Presupuesto</a></li>
                <li><a href="enlaces_de_interes.html">Enlaces de interés</a></li>
                <li><a href="privacidad_datos.html">Privacidad de datos</a></li>

                
            </ul>
        </div>
    </nav>
</header>

<main> 
 <section id="formulario_ppto">
        <div>
             <h3 class="titulo_formulario_ppto">Si deseas obtener un presupuesto de nuestros servicios
            <span>rellena este formulario</span>
             y te responderemos lo antes posible.</h3>
         </div>

       
       <form id="myPtto" name="myPtto" action="#" method="get" target="_self"> 
             <div id="myPtto_contenedor">
            
                <fieldset>
                    <legend>Datos a cumplimentar para solicitar un presupuesto</legend>

                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" size="38" placeholder="Escriba su nombre" pattern="[A-Z a-z]{2,25}" title="Escriba su nombre." required>

                    <label for="surname">Apellidos:</label>
                    <input type="text" name="surname" id="surname" size="38" placeholder="Escriba sus apellidos" pattern="[A-Z a-z]{2,60}" title="Escriba sus apellidos." required>

                    <label for="telephone">Teléfono:</label>
                    <input type="tel"  name="telephone" id="telephone" size="18" placeholder="Escriba su teléfono" pattern="[0-9]{9}" title="Escriba su teléfono de contacto SIN espacios." required>

                    <label for="mail">Correo electrónico:</label>
                    <input type="email" name="mail" id="mail" size="38" placeholder="Escriba su email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Escriba su correo electrónico. Ejemplo: midireccion@gmail.com" required>

                    <p>Elija las opciones de rehabilitación que necesite:</p>
                    <select name="opcion_rehabilitacion" id="opcion_rehabilitacion" required title="En caso de no estar seguro, elija una y le asesoremos en la opción más adecuada" multiple>
                        <option value="valor1">Fisioterapia</option>
                        <option value="valor2">Masaje terapeutico</option>
                        <option value="valor3">Laserterapia</option>
                        <option value="valor3">Hidroterapia</option>

                    </select>
                    
                    <label for="message">Mensaje</label>
                    <textarea name="message" id="message" placeholder="Escriba su mensaje." title="Escriba su mensaje." required></textarea>
                    
                    <label for="aceptar_privacidad" class="aceptar_privacidad">
                    <input type="checkbox" id="aceptar_privacidad" name="aceptar_privacidad" required>He leído y acepto la <a href="../documents/politicaPrivacidadDatos.doc">política de privacidad de datos</a></label>

                </fieldset>
                
                <input id="boton_enviar" type="submit" value="Enviar">
                <input id="boton_borrar" type="reset" value="Borrar">

            </div>
        </form>
    </section>

    <div class="flecha_top">
            <a href="#">
                <img src="../assets/icons/down-right-arrow_5548720.png" alt="flecha para volver incio web" title="flecha volver inicio web" width="512" height="512">
            </a>
    </div>


</main>



<footer>
    <div class="footer_container">
        <div class="footer_datos">  
            <figure class="footer_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>Imagen PNG de es.pngtree.com</span></figure>
            <h1>RehabilitaVet</h1>   
            <ul>                     
                <li>Calle ggggggggg, nº X, cp/xxxxx, Ssssssss.</li>
                <li>91-000-00-00  / 600-00-00-00</li>
                <li>contacto@recuperavet.com</li>
            </ul>            
        </div>

        <div class="privacity_footer">
            <ul>
                <li>&#169; 2025 All rights reserved</li>
                <li><a class="privacity" href="../documents/politicaPrivacidadDatos.doc" target="_blank" rel="noopener noreferrer"> Privacity policy</a></li>
            </ul>        
        </div>
    
        <div class="rrss">
            <h3 class="titulo_rrss">Puedes encontrarnos en:</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" ><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><span class="icon-x"></span></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
            </ul>
        </div>

    </div>
</footer>

<script src="../js/javascript.js"></script>
<!--google analytics-->

</body>
</html>