<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale:1.5">
    <title>Técnicas de rehabilitación</title>
    <meta name="keywords" content="Rehabilitación veterinaria, fisioterapia perro y gato, laser veterinario">
    <meta name="description" content="Fisioterapia veterinaria, masaje terapeutico veterinario, laserterapia veterinaria, hidroterapia veterinaria">
    <meta name="owner" content="AleGM">
    <meta name="author" content="AleGM">
    <meta name=”robots” content=”index,follow”> 

    <script src="../js/modernizr-custom.js"></script>

    <link rel="stylesheet" href="../css/normalize_style.css">
    <link rel="stylesheet" href="../assets/icons/icomoon/IcomoonStyle.css">
    <link rel="stylesheet" href="../assets/fonts/Jura/">
    <link rel="stylesheet" href="../assets/fonts/Onest/">
    <link rel="stylesheet" href="../assets/fonts/Parkinsans/">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/png" href="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png">
</head>
<body>
    
<header>
    
    <div class="hero">
        <figure class="hero_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>PNG de es.pngtree.com</span></figure>
        <h1>RehabilitaVet</h1>
   </div>

   <nav id="ioMenu">
        <figure id="showMenu" class="ioMenuMovil" onclick="displayMenu('prev')"><img src="../assets/icons/pet_9627651.png" alt="imagen de silueta de huella de perro para el menu" width="512" height="512"></figure>

        <div id="card_menu">
            <figure id="hideMenu" class="ioMenuMovil" onclick="displayMenu('next')"><img src="../assets/icons/close_8847679.png" alt="imagen salida menu forma de equis en color azul" width="512" height="512"></figure>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#" class="active">Técnicas de rehabilitación</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="localizacion_y_contacto.html">Localización y Contacto</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="enlaces_de_interes.html">Enlaces de interés</a></li>
                <li><a href="privacidad_datos.html">Privacidad de datos</a></li>

                
            </ul>
        </div>
    </nav>
</header>

<main>
    <section id="sec_fisioterapia">
        <h2 class="titulo_h">Nuestras técnicas de rehabilitación.</h2>
        <h2 class="titulo_medio">Fisioterapia.</h2>
        <figure class="sec_fisioterapia_img"><img src="../assets/images/AdobeStock_335684397.jpeg" alt="Imagen de dos perros realizando ejercicios de fisioterapia" width="6000" height="4002"><span class=" autoria_tecnicas">“Imagen de AdobeStock”</span></figure>
        <p><span lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem ratione amet! Ipsam deserunt soluta, eligendi, sequi voluptate<strong> fisioterapia para perros y gatos</strong> repudiandae voluptatem inventore saepe eos explicabo, veniam similique at ratione error .Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur ipsum cupiditate alias tenetur officia, ad qui dolorem quas fugiat. Eaque vitae at dolorem, dolor pariatur corporis tenetur provident consequuntur?.

        Sit amet consectetur adipisicing elit. Officia commodi quaerat ullam temporibus adipisci, dignissimos facere quo aliquid officiis sunt numquam voluptates id <strong>adaptado a las necesidades de cada paciente. </strong>laudantium cupiditate molestiae eius.Odio, illum veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corrupti, libero, eaque nesciunt eius inventore quos est laboriosam nemo molestias  id.</span></p>
        <figure class="sec_fisioterapia_img"><img src="../assets/images/AdobeStock_253252520.jpeg" alt="Imagen de un perro realizando ejercicios de fisioterapia" width="5000" height="4432"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>

        <p><span lang="zxx">Voluptates saepe iure incidunt assumenda dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nam accusantium dolorem esse quas ab nostrum et non? Perspiciatis unde, necessitatibus enim maiores veniam alias quis distinctio. Quam, incidunt ducimus<strong> para recuperación post-quirúrgica</strong>,  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aspernatur nam. Reprehenderit maiores maxime qui unde saepe quas repudiandae. Totam soluta itaque optio praesentium eum est at, officiis aperiam dignissimos.</span></p>

    </section>

       <section id="sec_terapeuticos">
        <h2 class="titulo_medio">Masaje terapeutico.</h2>
        <figure class="sec_terapeuticos_img"><img src="../assets/images/AdobeStock_531118132.jpeg" alt="Imagen de un fisioterapeuta realizando un masaje a un perro" width="3872" height="2582"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>
        <p><span lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem ratione amet! Ipsam deserunt soluta, eligendi, sequi voluptate<strong>lesiones que no necesitan cirugía</strong>,  repudiandae voluptatem inventore saepe eos explicabo, veniam similique at ratione error .Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur ipsum cupiditate alias tenetur officia, ad qui dolorem quas fugiat. Eaque vitae at dolorem, dolor pariatur corporis <strong>valoración previa por veterinario </strong>tenetur provident consequuntur?. Sit amet consectetur adipisicing elit. Officia commodi quaerat ullam temporibus adipisci, dignissimos facere quo aliquid officiis sunt numquam voluptates id laudantium cupiditate molestiae eius.
            
        Odio, illum veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corrupti, libero, eaque nesciunt eius inventore quos est laboriosam nemo molestias id.</span></p>
        <figure class="sec_terapeuticos_img"><img src="../assets/images/AdobeStock_302729213.jpeg" alt="Imagen de un fisioterapeuta realizando un masaje a un perro" width="5760" height="3840"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>

        <p><span lang="zxx">Voluptates saepe iure incidunt assumenda<strong> reducción del dolor</strong> dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nam accusantium dolorem esse quas ab nostrum et non? Perspiciatis unde, necessitatibus enim maiores veniam alias quis distinctio. Quam, incidunt ducimus.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aspernatur nam. Reprehenderit maiores maxime qui unde saepe quas repudiandae. Totam soluta itaque optio praesentium eum est at, officiis aperiam dignissimos.</span></p>

    </section>

     <section id="sec_laserterapia">
        <h2 class="titulo_medio">Laserterapia.</h2>
        <figure class="sec_laserterapia_img"><img src="../assets/images/AdobeStock_393347657.jpeg" alt="Imagen de un perro con las gafas de proteccion en sesión de Laserterapia" width="6000" height="4000"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>
        <p><span lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores <strong>láser Fffffffffff</strong>autem ratione amet! Ipsam deserunt soluta, eligendi, sequi voluptate<strong> gafas protección ocular</strong> repudiandae voluptatem inventore saepe eos explicabo, veniam similique at ratione error .Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur ipsum cupiditate alias tenetur officia, ad qui dolorem quas fugiat. Eaque vitae at dolorem, dolor pariatur corporis tenetur provident consequuntur? <strong>heridas</strong>, <strong>heridas quirúrigicas</strong>, sit amet consectetur adipisicing elit. Officia commodi quaerat ullam temporibus adipisci, dignissimos facere quo aliquid officiis sunt numquam voluptates id laudantium cupiditate molestiae eius. 
        Odio, illum veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corrupti, libero, eaque nesciunt eius inventore quos est laboriosam nemo id.Voluptates saepe iure incidunt assumenda dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nam accusantium dolorem esse quas ab nostrum et non? Perspiciatis unde, necessitatibus enim maiores veniam alias quis distinctio. Quam, incidunt ducimus<strong> para la rápida recuperación de tu mascota.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam enim natus, id error aliquid excepturi est quod omnis architecto amet officiis, rem repellat magnam consequatur doloremque non voluptates, ratione delectus.</span></p>

    </section>

     <section id="sec_hidroterapia">
        <h2 class="titulo_medio">Hidroterapia</h2>
        <figure class="sec_hidroterapia_img"><img src="../assets/images/AdobeStock_527324100.jpeg" alt="Imagen de un fisioterapeuta con un perro realizando sesión de Hidroterapia" width="3872" height="2582"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>
        <p><span lang="zxx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem ratione amet! Ipsam deserunt soluta, eligendi, sequi voluptate repudiandae voluptatem inventore saepe eos explicabo, veniam similique at ratione error . Lorem ipsum dolor sit amet consectetur adipisicing elit <strong>instalaciones higiénicas</strong> Harum pariatur ipsum cupiditate alias tenetur officia, ad qui dolorem quas fugiat. Eaque vitae at dolorem, dolor pariatur corporis tenetur provident consequuntur? <strong>zona de secado</strong>sit amet consectetur adipisicing elit. Officia commodi quaerat ullam temporibus adipisci, dignissimos facere quo aliquid officiis sunt numquam voluptates id laudantium cupiditate molestiae eius.

        Odio, illum veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corrupti, libero, eaque nesciunt eius inventore quos est laboriosam nemo molestias <strong>técnicas válida</strong>  para pacientes <strong>caninos y felinos</strong>id.Voluptates saepe iure incidunt assumenda dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nam accusantium dolorem esse quas ab nostrum et non? Perspiciatis unde, necessitatibus enim maiores veniam alias quis distinctio. Quam, incidunt ducimus<strong> previa valoración veterina.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>

        <figure class="sec_hidroterapia_img" ><img src="../assets/images/AdobeStock_132336335.jpeg" alt="Imagen de un fisioterapeuta con un perro realizando sesión de Hidroterapia en piscina de hidroterapia" width="7217" height="4362"><span class="autoria_tecnicas">“Imagen de AdobeStock”</span></figure>

    </section>

    <div class="flecha_top">
            <a href="#">
                <img src="../assets/icons/down-right-arrow_5548720.png" alt="flecha para volver incio web" title="flecha volver inicio web" width="512" height="512">
            </a>
    </div>

</main>


<footer>
    <div class="footer_container">
        <div class="footer_datos">  
            <figure class="footer_logo"><img src="../assets/images/—Pngtree—dog-and-cat-silhouette-vector_4960662.png" alt="logotipo empresa RehabilitaVet con silueta de perro y gato en simbolo ying yang" width="1200" height="1200"><span>Imagen PNG de es.pngtree.com</span></figure>
            <h1>RehabilitaVet</h1>   
            <ul>                     
                <li>Calle ggggggggg, nº X, cp/xxxxx, Ssssssss.</li>
                <li>91-000-00-00  / 600-00-00-00</li>
                <li>contacto@recuperavet.com</li>
            </ul>            
        </div>

        <div class="privacity_footer">
            <ul>
                <li>&#169; 2025 All rights reserved</li>
                <li><a class="privacity" href="../documents/politicaPrivacidadDatos.doc" target="_blank" rel="noopener noreferrer"> Privacity policy</a></li>
            </ul>        
        </div>
    
       <div class="rrss">
            <h3 class="titulo_rrss">Puedes encontrarnos en:</h3>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" ><span class="icon-instagram"></span></a></li>
                <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><span class="icon-x"></span></a></li>
                <li><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
            </ul>
        </div>

    </div>
</footer>

<script src="../js/javascript.js"></script>
<!--google analytics-->

</body>
</html>